In [1]:
import pandas as pd

df = pd.read_csv("toi179_authors.csv", encoding='unicode_escape')
df.head()

,First name,Last name,email,ORCID,Num,Affiliation
0,Jerome P.,de Leon,jpdeleon@g.ecc.u-tokyo.ac.jp,0000-0002-6424-3410,1,"Department of Astronomy, Graduate School of Sc..."
1,John H.,Livingston,john.livingston@nao.ac.jp,0000-0002-4881-3620,1,"Department of Astronomy, Graduate School of Sc..."
2,John H.,Livingston,john.livingston@nao.ac.jp,0000-0002-4881-3620,2,"Astrobiology Center, 2-21-1 Osawa, Mitaka, Tok..."
3,John H.,Livingston,john.livingston@nao.ac.jp,0000-0002-4881-3620,3,"National Astronomical Observatory of Japan, 2-..."
4,James S.,Jenkins,jjenkins@das.uchile.cl,NaN,4,"Universidad de Chile, Camino el Observatorio, ..."

In [2]:
len(set(df.Affiliation))

54

In [3]:
len(set(df['Last name']))

65

In [4]:
affils = df['Affiliation'].drop_duplicates(keep='first').reset_index(drop=True)
affils

0     Department of Astronomy, Graduate School of Sc...
1     Astrobiology Center, 2-21-1 Osawa, Mitaka, Tok...
2     National Astronomical Observatory of Japan, 2-...
3     Universidad de Chile, Camino el Observatorio, ...
4     University of Southern Queensland, Centre for ...
5     Department of Astrophysical Sciences, Princeto...
6     Department of Astronomy, University of Florida...
7     Department of Physics, University of Warwick, ...
8     NASA Exoplanet Science Institute, California I...
9     Department of Physics and Institute for Resear...
10    Department of Physics, and Kavli Institute for...
11    Department of Astronomy, The University of Tex...
12    CASA, University of Colorado, Boulder, CO 8030...
13        Las Cumbres Observatory, Goleta CA 93117, USA
14    Centre for Exoplanets and Habitability, Univer...
15    Center for Astrophysics | Harvard \& Smithsoni...
16    George Mason University, 4400 University Drive...
17    KU Dept. of Physics and Astronomy, 1082 Malott...
18    NASA Astrobiology Institute's Virtual Planetar...
19    Department of Astronomy, University of Marylan...
20    Department of Physics and Astronomy, Universit...
21    Department of Astronomy, University of Califor...
22    Komaba Institute for Science, The University o...
23    Instituto de Astrof{' i}sica de Canarias, V{' ...
24    Department of Astronomy and Tsinghua Centre fo...
25    Centro de Astrobiolog{' i}a (CSIC-INTA), Carre...
26       Wesleyan University, Middletown, CT 06459, USA
27    NASA Ames Research Center, Moffett Field, CA 9...
28    Intelligent Systems Division, NASA Ames Resear...
29    Department of Astronomy, The Ohio State Univer...
30    Las Cumbres Observatory Global Telescope, 6740...
31    Department of Earth and Planetary Sciences, Un...
32    Department of Physics and Astronomy, Universit...
33    School of Astronomy and Space Science, Key Lab...
34    Department of Physics, and Kavli Institute for...
35    Observatoire de Gen{' e}ve, Chemin Pegasi 51, ...
36    NASA Jet Propulsion Laboratory, Pasadena, CA, USA
37    Instituto de Astrof{' i}sica de Canarias, 3820...
38    Department of Multi-Disciplinary Sciences, Gra...
39    Department of Astronomical Science, The Gradua...
40    George Mason University, 4400 University Drive...
41    Department of Physics, University of Californi...
42    Departamento de Matem{' a}tica y F{' i}sica Ap...
43    Department of Physics and Kavli Institute for ...
44    NASA Goddard Space Flight Center, 8800 Greenbe...
45    Patashnick Voorheesville Observatory, Voorhees...
46    Department of Earth, Atmospheric and Planetary...
47    Department of Aeronautics and Astronautics, MI...
48    Department of Physics and Astronomy, Vanderbil...
49    Department of Physics, Fisk University, Nashvi...
50    Perth Exoplanet Survey Telescope, Perth, Weste...
51    Exoplanetary Science at UNSW, School of Physic...
52    NASA Jet Propulsion Laboratory: Pasadena, CA, USA
53    Shanghai Astronomical Observatory, Chinese Aca...
Name: Affiliation, dtype: object

In [5]:
idx = df.Affiliation.apply(lambda x: x==affils)
idx

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
83,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
84,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
85,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
86,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## add numbered affiliation

In [6]:
for i in range(idx.shape[1]):
    df.loc[idx[i],'Num']=i+1

In [7]:
df.to_csv('toi179_authors.csv', index=False)

## format author

In [9]:
lastnames = df['Last name'].drop_duplicates()
firstnames = df['First name'].apply(lambda x: [i[0] for i in x.split()])

text = []
for ln in lastnames:
    idx= df['Last name']==ln
    fn = ".".join(firstnames[idx].values[0])
    nums = sorted(set(df.loc[idx,'Num']))
    nums = ",".join([str(i) for i in nums])
    orcid = df.loc[idx,'ORCID'].iloc[0]
    if len(str(orcid))>3:
        t = f"{fn}~{ln}\orcid"+"{"+f"{orcid}"+"}$^{"+f"{nums}"+"}$,"
    else:
        t = f"{fn}~{ln}$^"+"{"+nums+"}$,"  
    print(t)
    text.append(t)

J.P~de Leon\orcid{0000-0002-6424-3410}$^{1}$,
J.H~Livingston\orcid{0000-0002-4881-3620}$^{1,2,3}$,
J.S~Jenkins$^{4,29}$,
J~Vines\orcid{0000-0002-1896-2377}$^{4}$,
R.A~Wittenmyer\orcid{0000-0001-9957-9304}$^{5}$,
J.T~Clark\orcid{0000-0003-3964-4658}$^{5}$,
J~Winn\orcid{0000-0002-4265-047X}$^{6}$,
B~Addison$^{5}$,
S~Ballard\orcid{0000-0002-3247-5081}$^{7}$,
D~Bayliss\orcid{0000-0001-6023-1335}$^{8}$,
C~Beichman\orcid{0000-0002-5627-5471}$^{9}$,
B.o~Benneke\orcid{0000-0001-5578-1498}$^{10}$,
D.A~Berardo\orcid{0000-0001-6298-412X}$^{11}$,
B.P~Bowler$^{12}$,
T~Brown$^{13,14}$,
E.M~Bryant\orcid{0000-0001-7904-4441}$^{8,15}$,
J~Christiansen\orcid{0000-0002-8035-4778}$^{9}$,
D~Ciardi\orcid{0000-0002-5741-3047}$^{9}$,
K~Collins\orcid{0000-0001-6588-9574}$^{16,17}$,
I~Crossfield\orcid{0000-0002-1835-1891}$^{18}$,
D~Deming\orcid{0000-0001-5727-4094}$^{19,20}$,
D~Dragomir\orcid{0000-0003-2313-467X}$^{21}$,
C.D~Dressing\orcid{0000-0001-8189-0233}$^{22}$,
A~Fukui\orcid{0000-0002-4909-5763}$^{23,24}$,
T~Gan\orcid{0000-0002-4503-9705}$^{25}$,
S~Giacalone\orcid{0000-0002-8965-3969}$^{22}$,
E~Gonz{' a}lez Alvarez$^{26}$,
K~Hesse$^{27}$,
J~Horner\orcid{0000-0002-1160-7970}$^{5}$,
S~Howell\orcid{0000-0003-0574-4853}$^{28}$,
M~Johnson\orcid{0000-0002-5099-8185}$^{30,31}$,
S~Kane\orcid{0000-0002-7084-0529}$^{32}$,
J.F~Kielkopf\orcid{0000-0003-0497-2651}$^{33}$,
L~Kreidberg\orcid{0000-0003-0514-1147}$^{16}$,
D.W~Latham\orcid{0000-0001-9911-7388}$^{16}$,
H~Liu$^{34}$,
M~Lund$^{9}$,
R~Matson\orcid{0000-0001-7233-7508}$^{28}$,
E~Matthews\orcid{0000-0003-0593-1560}$^{35,36}$,
M.W~Mengel$^{5}$,
F~Morales\orcid{0000-0001-9414-3851}$^{37}$,
M~Mori\orcid{0000-0003-1368-6593}$^{1}$,
N~Narita\orcid{0000-0001-8511-2981}$^{2,23,38}$,
T~Nishiumi\orcid{0000-0003-1510-8981}$^{2,39,40}$,
J~Okumura$^{5}$,
P~Plavchan$^{41}$,
S~Quinn\orcid{0000-0002-8964-8377}$^{16}$,
M~Rabus\orcid{0000-0003-2935-7196}$^{31,42,43}$,
G~Ricker\orcid{0000-0003-2058-6662}$^{44}$,
A~Rudat$^{44}$,
J~Schlieder\orcid{0000-0001-5347-7062}$^{45}$,
R.P~Schwarz\orcid{0000-0001-8227-1020}$^{46}$,
S~Seager\orcid{0000-0002-6892-6948}$^{44,47,48}$,
A~Shporer\orcid{0000-0002-1836-3120}$^{44}$,
A~Sphorer\orcid{0000-0002-1836-3120}$^{44}$,
K~Stassun\orcid{0000-0002-3481-9052}$^{49,50}$,
M~Tamura\orcid{0000-0002-6510-0681}$^{1,2,3}$,
T~Tan\orcid{0000-0001-5603-6895}$^{51}$,
C~Tinney$^{52}$,
R~Vanderspek\orcid{0000-0001-6763-6562}$^{44}$,
G~Varoujan\orcid{0000-0002-8990-2101}$^{53}$,
M.W~Werner$^{53}$,
D~Wright\orcid{0000-0001-7294-5386}$^{5}$,
L~Zhang$^{54}$,
G~Zhou\orcid{0000-0002-4891-3517}$^{5,16}$,

In [10]:
import numpy as np

np.savetxt('authors.txt', text, fmt='%s')

## format affiliation

In [11]:
text2=[]
for n,r in enumerate(affils):
    t=f"$^{n+1}$ {r}"+r"\\"
    print(t)
    text2.append(t)

$^1$ Department of Astronomy, Graduate School of Science, The University of Tokyo, 7-3-1 Hongo, Bunkyo-ku, Tokyo 113-0033, Japan\\
$^2$ Astrobiology Center, 2-21-1 Osawa, Mitaka, Tokyo 181-8588, Japan\\
$^3$ National Astronomical Observatory of Japan, 2-21-1 Osawa, Mitaka, Tokyo 181-8588, Japan\\
$^4$ Universidad de Chile, Camino el Observatorio, 1515, Las Condes, Santiago, Chile\\
$^5$ University of Southern Queensland, Centre for Astrophysics, West Street, Toowoomba, QLD 4350 Australia\\
$^6$ Department of Astrophysical Sciences, Princeton University, 4 Ivy Lane, Princeton, NJ 08544, USA\\
$^7$ Department of Astronomy, University of Florida, 211 Bryant Space Science Center, Gainesville, FL, 32611, USA\\
$^8$ Department of Physics, University of Warwick, Coventry CV4 7AL, UK\\
$^9$ NASA Exoplanet Science Institute, California Institute of Technology, Pasadena, CA 91106, USA\\
$^10$ Department of Physics and Institute for Research on Exoplanets, Universit{' e} de Montr{' e}al, Montr{' e}al, QC, Canada\\
$^11$ Department of Physics, and Kavli Institute for Astrophysics and Space Research, Massachusetts Institute of Technology, Cambridge, MA 02139, USA\\
$^12$ Department of Astronomy, The University of Texas at Austin, TX 78712, USA\\
$^13$ CASA, University of Colorado, Boulder, CO 80309, USA\\
$^14$ Las Cumbres Observatory, Goleta CA 93117, USA\\
$^15$ Centre for Exoplanets and Habitability, University of Warwick, Coventry CV4 7AL, UK\\
$^16$ Center for Astrophysics | Harvard \& Smithsonian, 60 Garden Street, Cambridge, MA 02138, USA\\
$^17$ George Mason University, 4400 University Drive, Fairfax, VA, 22030, USA\\
$^18$ KU Dept. of Physics and Astronomy, 1082 Malott, 1251 Wescoe Hall Dr. Lawrence, KS 66045, USA\\
$^19$ NASA Astrobiology Institute's Virtual Planetary Laboratory, USA\\
$^20$ Department of Astronomy, University of Maryland, College Park, MD 20742, USA\\
$^21$ Department of Physics and Astronomy, University of New Mexico, 210 Yale Blvd NE, Albuquerque, NM 87106, USA\\
$^22$ Department of Astronomy, University of California, Berkeley, Berkeley, CA, USA\\
$^23$ Komaba Institute for Science, The University of Tokyo, 3-8-1 Komaba, Meguro, Tokyo 153-8902, Japan \\
$^24$ Instituto de Astrof{' i}sica de Canarias, V{' i}a L{' a}ctea s/n, E-38205 La Laguna, Tenerife, Spain\\
$^25$ Department of Astronomy and Tsinghua Centre for Astrophysics, Tsinghua University, Beijing 100084, China\\
$^26$ Centro de Astrobiolog{' i}a (CSIC-INTA), Carretera de Ajalvir km 4, E-28850 Torrej{' o}n de Ardoz, Madrid, Spain\\
$^27$ Wesleyan University, Middletown, CT 06459, USA\\
$^28$ NASA Ames Research Center, Moffett Field, CA 94035, USA\\
$^29$ Intelligent Systems Division, NASA Ames Research Center, Moffett Field, CA 94035, USA\\
$^30$ Department of Astronomy, The Ohio State University, 4055 McPherson Laboratory, 140 West 18th Ave., Columbus, OH 43210, USA\\
$^31$ Las Cumbres Observatory Global Telescope, 6740 Cortona Dr., Suite 102, Goleta, CA 93111, USA\\
$^32$ Department of Earth and Planetary Sciences, University of California, Riverside, CA 92521, USA\\
$^33$ Department of Physics and Astronomy, University of Louisville, Louisville, KY 40292, USA\\
$^34$ School of Astronomy and Space Science, Key Laboratory of Modern Astronomy and Astrophysics in Ministry of Education, Nanjing University, Nanjing 210046, Jiangsu, China\\
$^35$ Department of Physics, and Kavli Institute for Astrophysics and Space Research, Massachusetts Institute of Technology, Cambridge, MA02139, USA\\
$^36$ Observatoire de Gen{' e}ve, Chemin Pegasi 51, 1290 Versoix, Switzerland\\
$^37$ NASA Jet Propulsion Laboratory, Pasadena, CA, USA\\
$^38$ Instituto de Astrof{' i}sica de Canarias, 38205 La Laguna, Tenerife, Spain\\
$^39$ Department of Multi-Disciplinary Sciences, Graduate School of Arts and Sciences, The University of Tokyo, 3-8-1 Komaba, Meguro, Tokyo 153-8902, Japan\\
$^40$ Department of Astronomical Science, The Graduated University for Advanced Studies, SOKENDAI, 2-21-1, Osawa, Mitaka, Tokyo, 181-8588, Japan\\
$^41$ George Mason University, 4400 University Drive MS 3F3, Fairfax, VA 22030, USA\\
$^42$ Department of Physics, University of California, Santa Barbara, CA 93106-9530, USA\\
$^43$ Departamento de Matem{' a}tica y F{' i}sica Aplicadas, Universidad Cat{' o}lica de la Sant{' i}Â­sima Concepci{' o}n, Alonso de Rivera 2850, Concepci{' o}n, Chile\\
$^44$ Department of Physics and Kavli Institute for Astrophysics and Space Research, Massachusetts Institute of Technology, Cambridge, MA 02139, USA\\
$^45$ NASA Goddard Space Flight Center, 8800 Greenbelt Rd, Greenbelt, MD 20771, USA\\
$^46$ Patashnick Voorheesville Observatory, Voorheesville, NY 12186, USA\\
$^47$ Department of Earth, Atmospheric and Planetary Sciences, Massachusetts Institute of Technology, Cambridge, MA 02139, USA\\
$^48$ Department of Aeronautics and Astronautics, MIT, 77 Massachusetts Avenue, Cambridge, MA 02139, USA\\
$^49$ Department of Physics and Astronomy, Vanderbilt University, VU Station 1807, Nashville, TN 37235, USA\\
$^50$ Department of Physics, Fisk University, Nashville, TN 37208, USA\\
$^51$ Perth Exoplanet Survey Telescope, Perth, Western Australia\\
$^52$ Exoplanetary Science at UNSW, School of Physics, UNSW Sydney, NSW 2052, Australia\\
$^53$ NASA Jet Propulsion Laboratory: Pasadena, CA, USA\\
$^54$ Shanghai Astronomical Observatory, Chinese Academy of Sciences, Shanghai 200030, China\\

In [12]:
import numpy as np

np.savetxt('affiliation.txt', text2, fmt='%s')